<h1><%= title %></h1>

<!-- Display flash messages if any -->
<% if (messages && Array.isArray(messages)) { %>
    <div>
        <% messages.forEach(function(message) { %>
            <p><%= message %></p>
        <% }) %>
    </div>
<% } %>

 <!-- Registration form -->
 <form class="loginForm" action="/account/register" method="POST">
    <div>
        <label for="first_name">First Name:</label>
        <input type="text" id="account_firstname" name="account_firstname" placeholder="Chris" required>
    </div>
    <div>
        <label for="last_name">Last Name:</label>
        <input type="text" id="account_lastname" name="account_lastname" placeholder="Smith" required>
    </div>
    <div>
        <label for="email">Email:</label>
        <input type="email" id="account_email" name="account_email" placeholder="chris.smith@example.com"required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="account_password" name="account_password" required>
        <p>Password must be at least 12 characters long and contain at least 1 capital letter, 1 number, and 1 special character.</p>
    </div>
    <button type="submit">Register</button>
</form>