<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta nane="viewport" content="width=device-width, initial-scale=1.0">
    <titles> <%- title %> | CSE 340 App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>