<h1>Welcome to CSE Motors</h1>
<!--The below line was added as part of w4 learning Activities-->
<%- messages() %>
<section id="part1">
    <div id="ownToday">
        <h2>DMC Delorean</h2>
        <h3>3 Cup holders</h3>
        <h3>Superman doors</h3>
        <h3>Fuzzy dice!</h3>
        <a id="ownImg" href=""></a>
    </div>
    <div id="carImg">

    </div>
</section>
<section id="part2">
    <div id="upgrades">
        <h4>Delorean Upgrades</h4>
        <div>
            <div class="imgContainer" id="fluxImg">
                <!--Image container-->
            </div>
            <a href="">Flux Capacitor</a>
        </div>
        <div>
            <div class="imgContainer" id="flameImg">
                <!--Image container-->
            </div>
            <a href="">Flame Decals</a>
        </div>
        <div>
            <div class="imgContainer" id="bumperImg">
                <!--Image container-->
            </div>
            <a href="">Bumper Stickers</a>
        </div>
        <div>
            <div class="imgContainer" id="hubImg">
                <!--Image container-->
            </div>
            <a href="">Hub Caps</a>
        </div>
    </div>
    <div id="reviews">
        <h4>DMC Delorean Reviews</h4>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly" (5/5)</li>
            <li>"The most futuristic ride of our day" (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </div>
</section>