<% if (title) { %>
<h1><%= title %></h1>
<% } else { %>
<% res.redirect('/') %>
<% } %>

<%- messages() %>

<form class="loginForm" action="/inv/add-classification" method="POST">
  <label for="classification_name">Classification Name:</label>
  <input type="text" id="classification_name" name="classification_name" required pattern="[a-zA-Z]+"
    title="Classification name must not contain spaces or special characters." value="<%= locals.classification_name %>">
    <p>Classification name must not contain spaces or special characters.</p>
  <button type="submit">Add Classification</button>
</form>